# .github/workflows/my-workflow.yml
name: Website - Production
on: 
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'  
jobs:
  build:
    name: Build & Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: google-github-actions/setup-gcloud@master
        with:
          version: '276.0.0'
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
      - run: gsutil -m rsync -d -c -r actions-test gs://githubactionstest
      - run: gsutil -m setmeta -h "Cache-Control:public, max-age=3600" gs://githubactionstest/**/*.html
      - run: gsutil -m setmeta -h "Cache-Control:public, max-age=31536000" gs://githubactionstest/js/*.js
      - run: gsutil -m setmeta -h "Cache-Control:public, max-age=31536000" gs://githubactionstest/css/*.css
